@import 'tailwindcss';

@font-face {
	font-family: 'Dancing Script';
	src: url('/fonts/DancingScript.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Source Code Pro';
	src: url('/fonts/SourceCodePro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@theme {
	--animate-*: initial;
	--animate-button-star: button-star 60s linear infinite;
	--animate-button-star-rotate: button-star-rotate 90s linear infinite;
	--animate-button-gradient: button-gradient 5s ease infinite;
	--animate-button-pulse: button-pulse 4s infinite;

	@keyframes button-star {
		from {
			transform: translateY(0);
		}

		to {
			transform: translateY(-135rem);
		}
	}

	@keyframes button-star-rotate {
		from {
			transform: rotate(360deg);
		}

		to {
			transform: rotate(0);
		}
	}

	@keyframes button-gradient {
		0% {
			background-position: 0% 50%;
		}

		50% {
			background-position: 100% 50%;
		}

		100% {
			background-position: 0% 50%;
		}
	}

	@keyframes button-pulse {
		0% {
			transform: scale(0.75);
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
		}

		70% {
			transform: scale(1);
			box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
		}

		100% {
			transform: scale(0.75);
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		}
	}

	--color-primary-50: oklch(98% 0.016 73.684);
	--color-primary-100: oklch(95.4% 0.038 75.164);
	--color-primary-200: oklch(90.1% 0.076 70.697);
	--color-primary-300: oklch(83.7% 0.128 66.29);
	--color-primary-400: oklch(75% 0.183 55.934);
	--color-primary-500: oklch(70.5% 0.213 47.604);
	--color-primary-600: oklch(64.6% 0.222 41.116);
	--color-primary-700: oklch(55.3% 0.195 38.402);
	--color-primary-800: oklch(47% 0.157 37.304);
	--color-primary-900: oklch(40.8% 0.123 38.172);
	--color-primary-950: oklch(26.6% 0.079 36.259);

	--breakpoint-2xs: 384px;
	--breakpoint-xs: 512px;

	--font-cursive: 'Dancing Script', cursive;
	--font-mono: 'Source Code Pro', monospace;
	--font-sans: 'Roboto', sans-serif;
}

@layer base {
	body {
		@apply bg-primary-200 font-sans text-primary-800;
	}
}
